<div class="menu-bg-overlay" [id]="idElement">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu" (menuOpened)="optionOpened()"
        (menuClosed)="optionClosed()" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let menu of menus" (click)="onMenuClick(menu.label)">
        <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
        <span class="menu-text">{{menu.label}}</span>
    </button>
</mat-menu>